@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: white;
  }
  body {
    background-color: #36454F;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.code {
  color: #ffcff1;
}
